body {
    margin: 0;
    padding: 15px;
    font-family: sans-serif;
    background-color: #f7f7f7;
    box-sizing: border-box;
}

.container {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    color: #071952;
    border-radius: 5px;
    background-color: #C5DFF8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container > h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.container > p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form > label {
    font-weight: bold;
    margin: 5px 0 16px 0;
}

.form > input {
    width: 100%;
    max-width: 300px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form > p {
    margin-top: 16px;
    margin-bottom: 0;
    display: none;
}

.form > .display {
    display: inline-block;
}

.form > p > span {
    font-weight: bold;
}

.form > button {
    margin: 15px 0 0 0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.form > button:hover {
    background-color: #0062cc;
}